<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title>MoviePit</title>
    </head>
    <body>
        <header>
            <h1><a href="/"><span>M</span>ovie<span>P</span>it</a></h1>
            <form action="/search" method="get">
                <input type="text" name="search" id="">
                <input type="submit" value="Search" id="">
            </form>

            <section>
                <a href="/category/28/1">Action</a>
                <a href="/category/12/1">Adventure</a>
                <a href="/category/80/1">Crime</a>
                <a href="/category/35/1">Comedy</a>
                <a href="/category/18/1">Drama</a>
                <a href="/category/27/1">Horror</a>
                <a href="/category/10402/1">Music</a>
                <a href="/category/878/1">Science Fiction</a>
            </section>
        </header>

        <h2>This is page <%= page %></h2>

        <section>
        <% movies.forEach(element => { %>
            <article class="movie-instance">
            <h3><a href=<%=`/detail/${element.id}`%>><%= element.title %></a></h3>
            <% if (element.title != element.original_title) { %>
             <h4><a href=<%=`/detail/${element.id}`%>><%= `(${element.original_title})` %></a></h4>
            <% } %>
            <p><%= element.overview %></p>
            <a href=<%=`/detail/${element.id}`%>><img src=<%-`//image.tmdb.org/t/p/w342/${element.poster_path}`%> alt=<%= element.original_title %>></a>
            </article>
        <% }) %>
        </section>

<div id="pagination">
        <% if (page <= 996 && page >= 4) { %>
            <% for( let index = page === 4 ? 1 : page - 4; index < page + 5; index++ ) { %>
                <button class="<%= index === page ? 'active-button' : 'inactive-button' %>">
                    <a href=<%= `/category/${cat}/${index}` %> ><%= index %></a>
                </button>
            <% } %>
        
        <% } else if (page <= 4 && page > 0) { %>
            <% for( let index = 1; index < 10; index++ ) { %>
                <button class="<%= index === page ? 'active-button' : 'inactive-button' %>">
                <a href=<%= `/category/${cat}/${index}` %> ><%= index %></a>
                </button>
            <% } %>
         <% } %>
</div>
        
    </body>
</html>
