<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/styles.css" />
        <link rel="icon" type="image/png" href="/assets/img/movie_icon.png">
        <title><%= detail.title %> | MovieTix</title>
        <script src="https://kit.fontawesome.com/75e7f79942.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
          <h1><a href="/"><span>M</span>ovie<span>T</span>ix</a></h1>
            <form action="/search" method="get">
                <input type="text" name="search" id="" />
                <input type="submit" value="Search" id="" />
            </form>

            <section id="categories">
                <a href="/category/28/1">Action</a>
                <a href="/category/12/1">Adventure</a>
                <a href="/category/80/1">Crime</a>
                <a href="/category/35/1">Comedy</a>
                <a href="/category/18/1">Drama</a>
                <a href="/category/27/1">Horror</a>
                <a href="/category/10402/1">Music</a>
                <a href="/category/878/1">Science Fiction</a>
            </section>
        </header>
        <article class="detail-instance">
        <img class="detail-image" src=<%-`//image.tmdb.org/t/p/w1280/${detail.backdrop_path}`%>
        alt=<%= detail.original_title %>>
        <h2><%= detail.title %></h2>
        <p><%= detail.release_date %></p>
        Released <% detail.genres.forEach(element => { %>
        <p><%= element.name %></p>
        <% }) %>

        <h3>PLOT SUMMARY</h3>
        <p><%= detail.overview %></p>

        <h3>Votes</h3>
        <% if (detail.vote_average >= 0 && detail.vote_average <= 1.5) { %>
          <i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% } else if (detail.vote_average > 1.5  && detail.vote_average <= 2.25) { %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% } else if (detail.vote_average > 2.25  && detail.vote_average <= 3.5) { %>
            <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% } else if (detail.vote_average > 3.5  && detail.vote_average <= 4.25) { %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% } else if (detail.vote_average > 4.25  && detail.vote_average <= 5.5) { %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% } else if (detail.vote_average > 5.5  && detail.vote_average <= 6.25) { %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
          <% } else if (detail.vote_average > 6.25  && detail.vote_average <= 7.5) { %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
          <% } else if (detail.vote_average > 7.5  && detail.vote_average <= 8.25) { %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
          <% } else if (detail.vote_average > 8.25  && detail.vote_average <= 9.5) { %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
          <% } else if (detail.vote_average > 9.5  && detail.vote_average <= 10) { %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
          <% } %>
        <p><%= detail.vote_average %>/10</p>    
        <p>With <%= detail.vote_count %> votes</p>
        </article>
    </body>
</html>
