<!DOCTYPE html>
<html lang="en">
    <head>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TVP668D');</script>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" type="image/png" href="/assets/img/movie_icon.png">
        <title>MovieTix</title>
        <script src="https://kit.fontawesome.com/75e7f79942.js" crossorigin="anonymous"></script>
        <script src="/assets/js/favorites.js"></script>
    </head>
    <body>
        <header>
            <div id="favorites">
                <a href="/favorites">My Movies</a>
            </div>
            <h1><a href="/"><span>M</span>ovie<span>T</span>ix</a></h1>
            
            <form action="/search/1" method="get">
                <input type="text" name="search" id="search-bar" placeholder="Search movies...">
                <button type="submit" id="submit-bttn"><i class="fa fa-search"></i></button>
            </form>

            <section id="categories">
                <a href="/category/28/1">Action</a>
                <a href="/category/12/1">Adventure</a>
                <a href="/category/80/1">Crime</a>
                <a href="/category/35/1">Comedy</a>
                <a href="/category/18/1">Drama</a>
                <a href="/category/27/1">Horror</a>
                <a href="/category/10402/1">Music</a>
                <a href="/category/878/1">Science Fiction</a>
            </section>
        </header>

        <h2>Page <%= page %></h2>

        <section>
        <% movies.forEach(element => { %>
            <article class="movie-instance">
            <i class="far fa-bookmark" onclick="toggleFavorite(this)" data-element-id="<%= element.id %>"></i>
            <h3><a href=<%=`/detail/${element.id}`%>><%= element.title %></a></h3>
            <% if (element.title != element.original_title) { %>
             <h4><a href=<%=`/detail/${element.id}`%>><%= `(${element.original_title})` %></a></h4>
            <% } %>
            <% if (element.overview.length >= 110) { %>
                <p><%= element.overview.slice(0, 110) %></p><a href=<%=`/detail/${element.id}`%> class="read-more">... Read more.</a></br>
            <% } else {%>
                <p><%= element.overview %></br></p>
            <% } %>
            <a href=<%=`/detail/${element.id}`%>><img src=<%-`//image.tmdb.org/t/p/w342/${element.poster_path}`%> alt=<%= element.original_title %>></a>
            </article>
        <% }) %>
        </section>

    <div id="pagination">
        <% if (page <= 996 && page >= 4) { %>
            <% for( let index = page === 4 ? 1 : page - 4; index < page + 5; index++ ) { %>
                <button class="<%= index === page ? 'active-button' : 'inactive-button' %>">
                    <a href=<%= `/all/${index}` %> ><%= index %></a>
                </button>
            <% } %>
        
        <% } else if (page <= 4 && page > 0) { %>
            <% for( let index = 1; index < 10; index++ ) { %>
                <button class="<%= index === page ? 'active-button' : 'inactive-button' %>">
                <a href=<%= `/all/${index}` %> ><%= index %></a>
                </button>
            <% } %>
         <% } %>
    </div>
</body>
</html>
